.git
.gitignore
.gitattributes
.idea
.vscode
.env
.env.*
!.env.docker
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
docs
*.log
*.pid
.phpunit.result.cache
rutas-transporte-publico-zitacuaro
*.geojson
*.csv
*.jpg
*.png
!public/icons/*
