*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
docker-compose.yml
database/schema.sql
composer.phar
mex-mich-zitacuaro/agency.txt
mex-mich-zitacuaro/calendar.txt
mex-mich-zitacuaro/fare_attributes.txt
mex-mich-zitacuaro/fare_rules.txt
mex-mich-zitacuaro/feed_info.txt
mex-mich-zitacuaro/frequencies.txt
mex-mich-zitacuaro/routes.txt
mex-mich-zitacuaro/shapes.txt
mex-mich-zitacuaro/stop_times.txt
mex-mich-zitacuaro/stops.txt
mex-mich-zitacuaro/trips.txt
rutas-transporte-publico-zitacuaro/15257790.geojson
rutas-transporte-publico-zitacuaro/15489318.geojson
rutas-transporte-publico-zitacuaro/15489347.geojson
rutas-transporte-publico-zitacuaro/15489349.geojson
rutas-transporte-publico-zitacuaro/15489350.geojson
rutas-transporte-publico-zitacuaro/15489351.geojson
rutas-transporte-publico-zitacuaro/15489352.geojson
rutas-transporte-publico-zitacuaro/15489359.geojson
rutas-transporte-publico-zitacuaro/15489361.geojson
rutas-transporte-publico-zitacuaro/15489363.geojson
rutas-transporte-publico-zitacuaro/15489370.geojson
rutas-transporte-publico-zitacuaro/15489371.geojson
rutas-transporte-publico-zitacuaro/15489373.geojson
rutas-transporte-publico-zitacuaro/15489374.geojson
rutas-transporte-publico-zitacuaro/15489384.geojson
rutas-transporte-publico-zitacuaro/15489386.geojson
rutas-transporte-publico-zitacuaro/15489390.geojson
rutas-transporte-publico-zitacuaro/15489397.geojson
rutas-transporte-publico-zitacuaro/15489423.geojson
rutas-transporte-publico-zitacuaro/15489428.geojson
rutas-transporte-publico-zitacuaro/15489440.geojson
rutas-transporte-publico-zitacuaro/15489443.geojson
rutas-transporte-publico-zitacuaro/15489552.geojson
rutas-transporte-publico-zitacuaro/15489561.geojson
rutas-transporte-publico-zitacuaro/15489589.geojson
rutas-transporte-publico-zitacuaro/15503952.geojson
rutas-transporte-publico-zitacuaro/15503971.geojson
rutas-transporte-publico-zitacuaro/15503978.geojson
rutas-transporte-publico-zitacuaro/15504024.geojson
rutas-transporte-publico-zitacuaro/15504053.geojson
rutas-transporte-publico-zitacuaro/15504060.geojson
rutas-transporte-publico-zitacuaro/15504152.geojson
rutas-transporte-publico-zitacuaro/15504158.geojson
rutas-transporte-publico-zitacuaro/15504695.geojson
rutas-transporte-publico-zitacuaro/15506144.geojson
rutas-transporte-publico-zitacuaro/15506192.geojson
rutas-transporte-publico-zitacuaro/15506193.geojson
rutas-transporte-publico-zitacuaro/15506215.geojson
rutas-transporte-publico-zitacuaro/15506717.geojson
rutas-transporte-publico-zitacuaro/15506718.geojson
rutas-transporte-publico-zitacuaro/15506722.geojson
rutas-transporte-publico-zitacuaro/15506727.geojson
rutas-transporte-publico-zitacuaro/15506734.geojson
rutas-transporte-publico-zitacuaro/15506739.geojson
rutas-transporte-publico-zitacuaro/15506740.geojson
rutas-transporte-publico-zitacuaro/15506769.geojson
rutas-transporte-publico-zitacuaro/15506776.geojson
rutas-transporte-publico-zitacuaro/15506782.geojson
rutas-transporte-publico-zitacuaro/15506805.geojson
rutas-transporte-publico-zitacuaro/15506806.geojson
rutas-transporte-publico-zitacuaro/15506829.geojson
rutas-transporte-publico-zitacuaro/15506834.geojson
rutas-transporte-publico-zitacuaro/15506839.geojson
rutas-transporte-publico-zitacuaro/15506844.geojson
rutas-transporte-publico-zitacuaro/15506856.geojson
rutas-transporte-publico-zitacuaro/15506858.geojson
rutas-transporte-publico-zitacuaro/15506859.geojson
rutas-transporte-publico-zitacuaro/15506879.geojson
rutas-transporte-publico-zitacuaro/15506889.geojson
rutas-transporte-publico-zitacuaro/15506895.geojson
rutas-transporte-publico-zitacuaro/15506896.geojson
rutas-transporte-publico-zitacuaro/15506921.geojson
rutas-transporte-publico-zitacuaro/15506928.geojson
rutas-transporte-publico-zitacuaro/15506962.geojson
rutas-transporte-publico-zitacuaro/15518868.geojson
rutas-transporte-publico-zitacuaro/15530520.geojson
rutas-transporte-publico-zitacuaro/15530522.geojson
rutas-transporte-publico-zitacuaro/15530536.geojson
rutas-transporte-publico-zitacuaro/15530561.geojson
rutas-transporte-publico-zitacuaro/15530563.geojson
rutas-transporte-publico-zitacuaro/15530564.geojson
rutas-transporte-publico-zitacuaro/15530577.geojson
rutas-transporte-publico-zitacuaro/15530582.geojson
rutas-transporte-publico-zitacuaro/15530583.geojson
rutas-transporte-publico-zitacuaro/15530586.geojson
rutas-transporte-publico-zitacuaro/15530609.geojson
rutas-transporte-publico-zitacuaro/15530612.geojson
rutas-transporte-publico-zitacuaro/15530613.geojson
rutas-transporte-publico-zitacuaro/15530622.geojson
rutas-transporte-publico-zitacuaro/15530626.geojson
rutas-transporte-publico-zitacuaro/15530653.geojson
rutas-transporte-publico-zitacuaro/15530656.geojson
rutas-transporte-publico-zitacuaro/15530667.geojson
rutas-transporte-publico-zitacuaro/15530671.geojson
rutas-transporte-publico-zitacuaro/15530674.geojson
rutas-transporte-publico-zitacuaro/15530694.geojson
rutas-transporte-publico-zitacuaro/15530720.geojson
rutas-transporte-publico-zitacuaro/15530758.geojson
rutas-transporte-publico-zitacuaro/15530768.geojson
rutas-transporte-publico-zitacuaro/15530776.geojson
rutas-transporte-publico-zitacuaro/15530790.geojson
rutas-transporte-publico-zitacuaro/15530808.geojson
rutas-transporte-publico-zitacuaro/15530862.geojson
rutas-transporte-publico-zitacuaro/15530863.geojson
rutas-transporte-publico-zitacuaro/15530880.geojson
rutas-transporte-publico-zitacuaro/15530888.geojson
rutas-transporte-publico-zitacuaro/15530889.geojson
rutas-transporte-publico-zitacuaro/15530890.geojson
rutas-transporte-publico-zitacuaro/15530896.geojson
rutas-transporte-publico-zitacuaro/15530897.geojson
rutas-transporte-publico-zitacuaro/15530932.geojson
rutas-transporte-publico-zitacuaro/15530934.geojson
rutas-transporte-publico-zitacuaro/15530939.geojson
rutas-transporte-publico-zitacuaro/15530946.geojson
rutas-transporte-publico-zitacuaro/15530955.geojson
rutas-transporte-publico-zitacuaro/15530956.geojson
rutas-transporte-publico-zitacuaro/15530971.geojson
rutas-transporte-publico-zitacuaro/15530992.geojson
rutas-transporte-publico-zitacuaro/15530996.geojson
rutas-transporte-publico-zitacuaro/15531008.geojson
rutas-transporte-publico-zitacuaro/15531009.geojson
rutas-transporte-publico-zitacuaro/15531011.geojson
rutas-transporte-publico-zitacuaro/15531023.geojson
rutas-transporte-publico-zitacuaro/15531281.geojson
rutas-transporte-publico-zitacuaro/15531328.geojson
rutas-transporte-publico-zitacuaro/15531332.geojson
rutas-transporte-publico-zitacuaro/15532570.geojson
rutas-transporte-publico-zitacuaro/15532820.geojson
rutas-transporte-publico-zitacuaro/15532957.geojson
rutas-transporte-publico-zitacuaro/15532967.geojson
rutas-transporte-publico-zitacuaro/15537689.geojson
rutas-transporte-publico-zitacuaro/15543571.geojson
rutas-transporte-publico-zitacuaro/15551255.geojson
rutas-transporte-publico-zitacuaro/15551481.geojson
rutas-transporte-publico-zitacuaro/15553486.geojson
rutas-transporte-publico-zitacuaro/15553535.geojson
rutas-transporte-publico-zitacuaro/15553573.geojson
rutas-transporte-publico-zitacuaro/15553574.geojson
rutas-transporte-publico-zitacuaro/15553613.geojson
rutas-transporte-publico-zitacuaro/15553633.geojson
rutas-transporte-publico-zitacuaro/15553656.geojson
rutas-transporte-publico-zitacuaro/15553724.geojson
rutas-transporte-publico-zitacuaro/15553803.geojson
rutas-transporte-publico-zitacuaro/15553817.geojson
rutas-transporte-publico-zitacuaro/15553844.geojson
rutas-transporte-publico-zitacuaro/15554578.geojson
rutas-transporte-publico-zitacuaro/15589308.geojson
rutas-transporte-publico-zitacuaro/15589323.geojson
rutas-transporte-publico-zitacuaro/15589333.geojson
rutas-transporte-publico-zitacuaro/15594038.geojson
rutas-transporte-publico-zitacuaro/15594040.geojson
rutas-transporte-publico-zitacuaro/15594042.geojson
rutas-transporte-publico-zitacuaro/15594049.geojson
rutas-transporte-publico-zitacuaro/15594053.geojson
rutas-transporte-publico-zitacuaro/15597215.geojson
rutas-transporte-publico-zitacuaro/15597755.geojson
rutas-transporte-publico-zitacuaro/15597759.geojson
rutas-transporte-publico-zitacuaro/15597762.geojson
rutas-transporte-publico-zitacuaro/15597782.geojson
mobile/ColorRuta.kt
